:root {
    --bg: #f1f1f1;
    --main-bg-color: #4A4E74;
    --white: #dad4d4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--bg);
}

button:focus {
    outline: none;
}

.split {
    display: flex;
}

.editor {
    height: 100vh;
}

.sidebar {
    height: 100vh;
    color: var(--main-bg-color);
}

.sidebar--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}

.sidebar--header {
    font-size: 1.75rem;
}

.new-note {
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--white);
    border-radius: 3px;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
}

.first-note {
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1.1px;
    border-radius: 3px;
    padding: .75em 2.5em;
    border: none;
    outline: none;
}

.new-note:active {
    transform: translate(1px,1px);
}

.gutter {
    background: rgb(211, 204, 204);
    position: relative;
    cursor: col-resize;
}

.gutter::before {
    content: '||';
    color: rgb(103, 100, 100);
    position: absolute;
    top: 50%;
    left: 1px;
}

.no-notes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title:hover > .trash {
    display: block;
}

.trash {
    display: none;
}

.selected-note {
    background-color: var(--main-bg-color);
    color: var(--white);
}

.delete-btn {
    cursor: pointer;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    padding: .4em;
    color: var(--main-bg-color);
    background-color: #f2f2f2;
    letter-spacing: 1.2px;
    font-size: .8rem;
}
